
	
	
		<div class="d-none d-lg-flex" id="mainscreen" style='height:100vh; background-image: url(<%=asset_path("arpitaa.jpg")%>)' >
			<div id="bele">
				
				<p>Welcome To Arpit's World</p>
			</div>
			<span id="binsele"></span>
		</div>
		
		<div class="d-flex d-lg-none" id="mainscreen2" style="height:100vh" >
			<div id="bele">
				
				<p>Welcome To Arpit's World</p>
			</div>
			<span id="binsele"></span>
		</div>
			<span id="binsele"></span>
		</div>
		<div id="quotescreen" style="background-image: url(<%=asset_path("keyboard2.jpg")%>)">
			<p><q>Once a new technology rolls over you, if you're not part of the steamroller, you're part of the road</q>
		<br>
		-Stewart Brand</p>
		</div>

		<div class="d-lg-block d-none" id="about">
			<div  id="aboutbanner">
				<div class="wow fadeInLeft" id="aboutstats">
				<p>	Name: Arpit Sachdeva<br>
					Education: B.Tech in Electrical Engineering (DTU)<br>
					Previous Experience: GirnarSoft(Cardekho.com) , MentorIndia , Coding Ninjas<br></p>
				</div>
				<div class="wow fadeInRight" id="aboutimg">
					<img src="<%=asset_path("pic.jpeg")%>">
				</div>
			</div>
			<div class="wow fadeInLeft" id="aboutext">
				<p>
					I am currently pursuing Electrical Engineering from the esteemed Delhi Technological University (formerly Delhi College of Engineering). Within 4 years of my engineering i have acquired various technological skills required today in the market. Have worked with various startups like Cardekho.com, TATA etc for development of their website and technologies. I have always focused on learning and quality development.
				</p>
			</div>
		</div>

		<div class="d-lg-none d-block" id="about2">
			<div  id="aboutbanner">
				<div class="wow fadeInLeft" id="aboutstats">
				<p>	Name: Arpit Sachdeva<br>
					Education: B.Tech in Electrical Engineering (DTU)<br>
					Previous Experience: GirnarSoft(Cardekho.com) , MentorIndia , Coding Ninjas<br></p>
				</div>
				<div class="wow fadeIn" id="aboutimg">
					<img src="<%=asset_path("pic.jpeg")%>">
				</div>
			</div>
			<div class="wow fadeInLeft" id="aboutext">
				<p>
					I am currently pursuing Electrical Engineering from the esteemed Delhi Technological University (formerly Delhi College of Engineering). Within 4 years of my engineering i have acquired various technological skills required today in the market. Have worked with various startups like Cardekho.com, TATA etc for development of their website and technologies. I have always focused on learning and quality development.
				</p>
			</div>
		</div>
		<div id="tech" class='d-lg-block d-none'>
			<div class="wow fadeInLeft " data-wow-duration="2s" id="techstack">
				<h2 style="margin-top: 0;padding-top: 2vh;">Technologies-: </h2>
				<div class="techimg">
				<div><img src='<%=asset_path("rails.png")%>' ><h4>Ruby On Rails</h4></div>
				<div><img src='<%=asset_path("html.png")%>'><h4>Html</h4></div>
				<div><img src='<%=asset_path("css2.png")%>'><h4>Css</h4></div>
				<div><img src='<%=asset_path("js2.png")%>'><h4>JavaScript</h4></div>
				<div><img src='<%=asset_path("mb.png")%>'><h4>Matlab</h4></div>
				<div><img src='<%=asset_path("ms.png")%>'><h4>MySQL</h4></div>
				<div><img src='<%=asset_path("j1.png")%>'><h4>jQuery</h4></div>
				<div><img src='<%=asset_path("angular.svg")%>'><h4>Angular.Js</h4></div>
			</div></div>
<br><br>
<div class="wow fadeInRight" data-wow-duration="2s" id="know">
				<h2>Concepts-: </h2>
				<div class="techimg">
				<div><img src='<%=asset_path("ds.png")%>'><h4>Data Structures And Algorithms</h4></div>
				<div><img src='<%=asset_path("os.png")%>'><h4>Operating Systems</h4></div>
				<div><img src='<%=asset_path("dbms.png")%>'><h4>Database Management System</h4></div>
				<div><img src='<%=asset_path("ml.jpg")%>' style="width:60%"><h4>Machine Learning</h4></div>
				</div></div>
		<br><br>
<div class="wow fadeInUp" data-wow-duration="2s" id="program">
				<h2>Languages-: </h2>
				<div class="techimg">
				<div><img src='<%=asset_path("java.png")%>'><h4>Java</h4></div>
				<div><img src='<%=asset_path("ruby.png")%>'><h4>Ruby</h4></div>
				<div><img src='<%=asset_path("cp.png")%>'><h4>C/C++</h4></div>
				
				</div></div>
		<br><br>
		</div>
		<div id="tech2" class='d-lg-none d-block'>
			<div class="wow fadeInDown " data-wow-duration="2s" id="techstack">
				<h2 style="margin-top: 0;padding-top: 2vh;">Technologies-: </h2>
				<div class="techimg">
			<div><img src='<%=asset_path("rails.png")%>' ><h4>Ruby On Rails</h4></div>
				<div><img src='<%=asset_path("html.png")%>'><h4>Html</h4></div>
				<div><img src='<%=asset_path("css2.png")%>'><h4>Css</h4></div>
				<div><img src='<%=asset_path("js2.png")%>'><h4>JavaScript</h4></div>
				<div><img src='<%=asset_path("mb.png")%>'><h4>Matlab</h4></div>
				<div><img src='<%=asset_path("ms.png")%>'><h4>MySQL</h4></div>
				<div><img src='<%=asset_path("j1.png")%>'><h4>jQuery</h4></div>
				<div><img src='<%=asset_path("angular.svg")%>'><h4>Angular.Js</h4></div>
			</div></div>
<br><br>
<div class="wow fadeInLeft" data-wow-duration="2s" id="know">
				<h2>Concepts-: </h2>
				<div class="techimg">
		<div><img src='<%=asset_path("ds.png")%>'><h4>Data Structures And Algorithms</h4></div>
				<div><img src='<%=asset_path("os.png")%>'><h4>Operating Systems</h4></div>
				<div><img src='<%=asset_path("dbms.png")%>'><h4>Database Management System</h4></div>
				<div><img src='<%=asset_path("ml.jpg")%>' style="width:60%"><h4>Machine Learning</h4></div>
				</div></div>
		<br><br>
<div class="wow fadeInUp" data-wow-duration="2s" id="program">
				<h2>Languages-: </h2>
				<div class="techimg">
				<div><img src='<%=asset_path("java.png")%>'><h4>Java</h4></div>
				<div><img src='<%=asset_path("ruby.png")%>'><h4>Ruby</h4></div>
				<div><img src='<%=asset_path("cp.png")%>'><h4>C/C++</h4></div>
				
				</div></div>
		<br><br>
		</div>
		<div id="tech2" class='d-lg-none d-flex'>
		</div>
		<div class="d-lg-flex d-none"id="bottombar">
			
			<i class="fab fa-facebook-square"></i>
			<i class="fab fa-twitter-square"></i>
			<i class="fab fa-instagram"></i>
			<i class="fab fa-linkedin"></i>
			<i class="fab fa-github-square"></i>
		</div>
	<div class="d-flex d-lg-none" id="bottombar2">
			
			<i class="fab fa-facebook-square"></i>
			<i class="fab fa-twitter-square"></i>
			<i class="fab fa-instagram"></i>
			<i class="fab fa-linkedin"></i>
			<i class="fab fa-github-square"></i>
		</div>
		
		
	
	
	
		<script type="text/javascript">
		$(document).ready(function(){
			   setTimeout(function(){
var typed= new Typed('#binsele',{stringsElement: '#bele',typeSpeed: 90,backSpeed: 50,loop: true});
    },3000);	

		});

		
		</script>
